 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
 <table style="width:100%">
  <tr>
    <th>Currency</th>
    <th>ISO</th>
    <th>Exchange Rate</th>
  </tr>
  {% for currency in all_currencies%}
  <tr>
    <th>{{ currency.name}}</th>
    <th>{{ currency.iso_code}}</th>
    <th>{{ currency.exchange_rate}}</th>
  </tr>
{% endfor %}
</table> 

<form method="post" id="post-form">
    {% csrf_token %}
    <div class="fieldWrapper" id="the_post">
        {{ exchange_form }}
    </div>
    <div id="results"></div> <!-- errors go here -->
    <input type="submit" value="Submit">
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/scripts/main.js"></script>
</body>
</html> 
