 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
 <table style="width:100%">
  <tr>
    <th>Currency</th>
    <th>ISO</th>
    <th>Exchange Rate</th>
  </tr>
  {% for currency in all_currencies%}
  <tr>
    <th>{{ currency.name}}</th>
    <th>{{ currency.iso_code}}</th>
    <th>{{ currency.exchange_rate}}</th>
  </tr>
{% endfor %}
</table> 

<form action="/" method="post">
    {% csrf_token %}
    {{ exchange_form }}
    <input type="submit" value="Submit">
</form>

</body>
</html> 
