[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
django-debug-toolbar = "*"
pylint = "*"

[packages]
django = "==2.1.11"
django-crispy-forms = "*"
bs4 = "*"
requests = "*"
django-rosetta = "*"
debug-tools = "*"
django-debug-toolbar = "*"
pipfile = "*"
django-cms = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver"
